[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RCognito"]
	path = RCognito
	url = https://github.com/sanjayshetty01/rcognito
